body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
}
div#Overall{
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 70%;
}
div#individual{
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 70%;
}

h1{
	font-family: Georgia, Cambria, "Times New Roman", serif;
	text-align: center;
}

p{
    font-size:12px; 
}

div#select{
    font-size:12px;
}

table{
    margin: 0 auto;
}
#indTitle {
    color:blue;
    font: 12px Arial;
}
#totlRevision{
    color:blue;
    font: 12px Arial;
}
#Small{
    color:blue;
}