<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<meta charset="utf-8">
	<title>COMP5347 Assignment Two</title>
	<link rel="stylesheet" href="/css/wiki.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<script type="text/javascript">
		var overallPie = <%- JSON.stringify(overallData.overallPie) %>;
		var overallBar = <%- JSON.stringify(overallData.overallBar) %>;
	</script>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>

	<form id="all">
		<div id="Overall">
			<h1>Overall Article Data Statistics</h1>
			<fieldset>
				<legend>Overall Details</legend>
				<p>
					<label>The Article With the Most Number of Revisions:</label>
					<span id="Small"><%= overallData.mostNumRevisions%></span>
				</p>
				<p>
					<label>The Article With the Least Number of Revisions:</label>
					<span id="Small"><%= overallData.leastNumRevisions%></span>
				</p>
				<p>
					<label>The Article Edited by Largest Group of Registered Users:</label>
					<span id="Small"><%= overallData.largestResUsers%></span>
				</p>
				<p>
					<label>The Article Edited by Smallest Group of Registered Users:</label>
					<span id="Small"><%= overallData.smallestResUsers%></span>
				</p>
				<p>
					<label>The Article with The Longest History:</label>
					<span id="Small"><%= overallData.longestAge%></span>
				</p>
				<p>
					<label>The Article with The Smallest History:</label>
					<span id="Small"><%= overallData.shortestAge%></span>
				</p>
			</fieldset>

			<div id="Carousel-1" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div id="piechart" class="item active"></div>
					<div id="barchart" class="item"></div>
				</div>
				<a class="left carousel-control" href="#Carousel-1" data-slide="prev">
                	<span class="glyphicon glyphicon-chevron-left"></span>
             		<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#Carousel-1" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
                	<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div id="individual">
			<h1>Individual Article Datat Statistics</h1>
			<fieldset>
				<legend>Individual Details</legend>
				<div id="select"><label>Articles:</label>
					<select id="select1" name="article">
						<option>Choose an Article</option>
						<% for(var i = 0; i < overallData.fileList.length; i++){ %>
							<option value="<%- overallData.fileList[i] %>"><%= overallData.fileList[i] %> </option>
						<% } %>	
					</select>
				
				    <input id="submit" type="button" value="submit">
					<p><span id="indMessage"></span></p>

					<div id="show">
						<p>
							<label>The Title: <span id="indTitle"></span></label>		
						</p>
						<p>
							<label>The Total Number of Revisions:<span id="totlRevision"></span></label>
						</p>
						<p>
							<label>The Top 5 Regular Users whit revisions:</label>
							<div id="table_div"></div>
						</p>
			</fieldset>

			<div id="Carousel-2" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div id="piecharts" class="item active"></div>
					<div id="barchart1" class="item"></div>
					<div id="barchart2" class="item"></div>
					<div id="barchart3" class="item"></div>
				</div>
				<a class="left carousel-control" href="#Carousel-2" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#Carousel-2" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

		</div>
	</form>

</body>
	<script type="text/javascript" src="/js/main.js"></script>
</html>